.main-content {
    margin-top:1em;
}

body {
    background-color: #3AAFA9;
    background-image: url(background_bluish.jpg);
    background-blend-mode: normal;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
}
.jumbotron{
    background-color: #3AAFA9 !important;

}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
  }

  footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
  }

